<div class="container" style="margin-top:20px">
    <!--Fila 1 -->
    <div class="row">
        <div class="col-8">
            <div class="header">
                <h2>User login: {{userName}} </h2>{{rol}}
            </div>
        </div>
        <div class="col-4 text-end">
            <a class="btn btn-danger" href="/admin/login/logout">
                <i class="fa-solid fa-arrow-right-from-bracket"> Logout</i>
            </a>
        </div>
    </div>
    <!--Fila 2 -->
    <div class="row" style="margin-top:20px">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-info" aria-current="true">
               <h2>Administración</h2>
            </a>
            <a href="/clientes" class="list-group-item list-group-item-action list-group-item-light">Clientes</a>
            <a href="/casas" class="list-group-item list-group-item-action list-group-item-light">Villas</a>
            <a href="/meses" class="list-group-item list-group-item-action list-group-item-light">Meses</a>
            <a href="/precios" class="list-group-item list-group-item-action list-group-item-light">Precios</a>
            <a href="/propietarios" class="list-group-item list-group-item-action list-group-item-light">Propietarios</a>
            <a href="/vistas" class="list-group-item list-group-item-action list-group-item-light">Vistas</a>
            <a href="/ocupaciones" class="list-group-item list-group-item-action list-group-item-light">Ocupaciones</a>
            <a href="/areas" class="list-group-item list-group-item-action list-group-item-light">Areas</a>
            {{#if isAdmin}}
            <a href="/usuarios" class="list-group-item list-group-item-action list-group-item-light">Usuarios</a>
            {{/if}}
        </div>
    </div>
</div>