<!--nombre, apellido, nacionalidad, documento, email, telefono, movil -->
<div class="container" style="margin:40px auto">
    <div class="row">
        <div class="col-8">
            <div class="header">
                <h2>Modificar Vistas</h2>
            </div>
        </div>
        <div class="col-4 text-end">
            <a class="btn btn-light" href="/vistas">
                <i class="fa-solid fa-backward" style="color: #7a3fa1;"> Volver</i>
            </a>
        </div>
    </div>
    <div class="row">
        <form class="row g-3" action="/vistas/modificar" method="post">
            <div class="col-md-6">
                <label for="vista" class="form-label">Vista</label>
                <input type="text" class="form-control" name="vista" value="{{vista.vista}}">
            </div>
             <div class="col-md-6">
                <label for="id" class="form-label">ID</label>
                <input type="text" class="form-control" name="id" value="{{vista.id}}">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-light">
                    <i class="fa-solid fa-mountain-sun" style="color: #7a3fa1;">  MODIFICAR</i>
                </button>
            </div>
        </form>
        {{#if error}}
        <p>{{mensaje}}</p>
        {{/if}}
    </div>
</div>